body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: inline-block;
  width: 60px;
  text-align: right;
}

input,
select {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  display: block;
  padding: 5px 10px;
  margin: 10px;
  margin-left: 10%;
}

#book-list {
  text-align: center;
  font-weight: 700;
  color: blue;
}
