body {
  font-family: 'poppins', sans-serif;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 200px;
  padding: 10px;
  padding-left: 10px;
  margin-left: 8%;
  margin-bottom: 10px;
  margin-right: 7%;
}

.Book-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  display: block;
  padding: 1px 10px;
  margin-left: 2%;
  margin-bottom: 1px;
  border: 3px black solid;
}

.button-add {
  margin-left: 49%;
}

#book-list {
  width: 25%;
  height: 25px;
  border: 2px black solid;
  margin-left: 38%;
}
