body {
  font-family:'poppins', sans-serif;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: inline-block;
  width: 40px;
  text-align: right;
  margin-right: 5%;
}

input,
select {
  width: 200px;
  padding: 10px;
  padding-left: 10px;
  margin-left: 0;
  margin-bottom: 10px;
  margin-right: 7%;
}

button {
  display: block;
  margin: 10px;
  margin-left: 46%;
  padding: 5px 10px;

}

#book-list {
  text-align: center;
}

